input[type=text] {
    width: 100%;
    padding: 15px 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    border: 0px solid #474647;
    border-radius: 10px;
    box-sizing: border-box;
}






